/* #picture-div {
    border: 3px solid green;
    padding: 0;
    position: relative;
} */

#parent {
    position: relative;
    border: 3px solid green;
    height: 50%;

}
.col-8{
    height: 100vh;
}
#style-card{
    height: 50%;
}
.picture-div {
    position:absolute;
    top:0;
    left:0;

}


.card-body img {
    width: 75%;
    height: auto;
}

