header div {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  border-bottom: 3px solid var(--textMain);

}

header {
  background-color: var(--textMain);
  width: 100%;
  margin: 1;
  padding: 2rem;
  height: 15vh;
}
